<h1>{{title}}</h1>
<p>{{title}}</p>
<style>
    pre {

        white-space: pre-wrap;       /* css-3 */

        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */

        white-space: -o-pre-wrap;    /* Opera 7 */

        word-wrap: break-word;       /* Internet Explorer 5.5+ */

        width: 99%;

    }
</style>
<pre>{{getFileLog file}}</pre>